In [3]:
#Dependencies
import pandas as pd

In [10]:
#Read in csv
genre = pd.read_csv("Craig_portion/Resources/tmdb_5000_movies.csv")

#Create dataframes for movie title and genre
title_df = pd.DataFrame(genre_final["title"])
genre_df = pd.DataFrame(genre_final["genres"])

#Merge the two dataframes
merge = pd.merge(title_df, genre_df, left_index=True, right_index=True)

#Create final dataframe
final_genre = pd.DataFrame(merge)

#Display
final_genre.head()

,title,genres
0,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
1,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""..."
2,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
3,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam..."
4,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."